@use "sass:color";

$dark_gray: #666666; 
$gray: #cccccc; 
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

$dark_yellow: #888844;
$very_dark_yellow: color.adjust($dark_yellow, $lightness: -25%);

$red: #cc0000;
$pink: #ffcccc; 

$green: #00cc00; 