@use "colors"  as customer_colors; ;
@use "dimensions" as customer_dimensions;

header {
  span.notice, span.alert {
    display: inline-block;
    padding: customer_dimensions.$narrow customer_dimensions.$moderate;
    margin: 0 customer_dimensions.$wide;
    font-size: customer_dimensions.$tiny;
    color: customer_colors.$very_light_gray;
  } 
  
  span.notice {
    background-color: customer_colors.$green;
  }

  span.alert {
    background-color: customer_colors.$red;
  }
}