<style>
  #error {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: solid 4px #666666;           /* $dark_gray の色を直接書く */
    background-color: #fafafa;           /* $very_light_gray の色を直接書く */
    text-align: center;
  }

  #error p.url {
    font-family: monospace;
  }
</style>

<div id="error">
  <h1>422 Unprocessable Entity</h1>
  <p>指定されたページは表示できません。</p>
</div>