@use "sass:color";

$dark_gray: #666666; 
$gray: #cccccc; 
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

$dark_cyan: #448888;
$very_dark_cyan: color.adjust($dark_cyan, $lightness: -25%); 

$red: #cc0000;
$pink: #ffcccc; 

$green: #00cc00; 