@use "colors" as staff_colors;
@use "dimensions" as staff_dimensions;

nav.pagination {
  margin: staff_dimensions.$moderate 0;
  padding: staff_dimensions.$moderate 0;
  display: inline-block;
  border-top: solid staff_colors.$very_light_gray 1px;
  border-bottom: solid staff_colors.$very_light_gray 1px;
  span.page, span.first, span.prev, span.next, span.last {
    display: inline-block;
    background-color: staff_colors.$light_gray;
    padding: staff_dimensions.$narrow staff_dimensions.$moderate;
    a {
      text-decoration: none;
    }
  }
  span.current {
    background-color: staff_colors.$dark_gray;
    color: staff_colors.$light_gray;
  }
  span.disabled {
    color: staff_colors.$gray;
  }
  span.gap {
    background-color: transparent;
  }
}