<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "application", media: "all" %>

    <title>システムエラー</title>
  </head>
  <body>
    <%= yield %>  
  </body>
</html>